<ul class='nav'>
  <li class='nav-link'>
    <a class='nav-link' href='/'>Main Page</a>
  </li>
  <li class='nav-link'>
    <a class='nav-link' href='/hw-07'>Homework-07</a>
  </li>
  <li class='nav-link'>
    <a class='nav-link' href='/hw-08'>Homework-08</a>
  </li>
  <li class='nav-link'>
    <a class='nav-link' href='/hw-09'>Homework-09</a>
  </li>
  <li class='nav-link'>
    <a class='nav-link' href='/hw-10'>Homework-10</a>
  </li>
</ul>