<h1 class='mainpage-title'>Welcome to Web App Homepage</h1>
<section class='welcome-img'>

  <img src='images/magic.gif' alt='tap to see magic' />
  <a class='link' target='_blanc' href='https://github.com/chillhaze/web-app-basics'>
    tap here to see magic
  </a>
</section>